body{
      font-family: "Work Sans", sans-serif;
}

/*Header related style*/

.nav-container{
      display: flex;
      justify-content: space-between;
      padding: 0 240px;
}
.nav-img-content{
      display: flex;
      align-items: center;
}
.nav-img-content img{
width: 86px;
height: 40px;
padding-right: 10px;
}

.nav-title{
      font-family: Work Sans;
      font-size: 2.8rem;
      font-weight: 700;
      letter-spacing: 0%;
      text-align: center;
      color: #0B0223;
}

.nav-title-g{
      color: #FF42A5;
}
.nav-items-content{
      display: flex;
      align-items: center;
      gap: 30px;
}
.nav-items-content p{
      font-size: 1.3rem;
      font-weight: 500;
      color: #3C354F;
      text-align: center;
}

.nav-btn{
      font-size: 1.3rem;
      font-weight: 500;
      color: #3C354F;
      text-align: center;
      border: 0px;
      border-radius: 8px;
      background: rgba(11, 2, 35, 0.1);
      padding: 10px 20px;
}

.u-icon{
      width: 25px;
      height: 20px;
}


/*main section related style*/

/* play section related style */
.play-section{
      display: flex;
      background-image: url("/images/Group\ 14.png");
      background-repeat: repeat-y;
}

.play-content{
      padding-left: 240px;
      padding-right: 250px;
}

.play-offer{
      font-size: 48px;
      font-weight: 600;
      text-align: center;
      color: #0B0223;
      margin-bottom: 0;
      padding-bottom: 0;
      
}

.play-shortname{
      font-size: 6rem;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
      color: #F948B2; 
      margin: 15px;     

}

.play-description{
      display: flex;
      align-items: center;
      gap: 10px;
}

.play-icon{
      width: 18px;
      height: 18px;
}

.play-name{
      margin: 05px;
}

.sign-in{
      background-color: #FF42A5;
      border: 0;
      border-radius: 48px;
      font-size: 1.25rem;
      font-weight: 600;
      color: #FFFFFF;
      text-align: center;
      text-transform: uppercase;
      padding: 21px 40px;
}

.go-rogue{
      background-color: #4EC5F7;
      margin-top: 20px;
}

.play-banner img{
     max-height: 550px;
}

/* gamer section related style  */

.gamer-section{
      display: flex;
      background-color: #FFF9FC;
      padding: 0 240px;
}
.gamer-banner-img{
      width: 100%;
}


.gamer-title{
      font-size: 3rem;
      font-weight: 700;
      text-align: right;
      color: #F948B2;
      margin: 0 10px;
}

.gamer-description{
      font-size: 1rem;
      font-weight: 400;
      text-align: right;
      color: #534C64;
      max-width: 500px;
      margin: 20px 0px;
}
.know-more{
      position: relative;
      align-items: center;
      margin-left: 50%;
}
.gamer-purpose{
      font-size: 1.5rem;
      font-weight: 500;
      text-align: right;
      color: #534C64;
}

.gamer-queiet{
      font-size: 1.6rem;
      font-weight: 700;
      text-align: right;
      color: #534C64;
      margin: 20px 0px;
}







/* responsive related style */
@media screen and (max-width: 576px) {
      .nav-container{
            flex-direction: column;
            padding: 20px;
      }

      .nav-img-content{
            align-items: center;
            justify-content: center;
      }
      .nav-items-content{
            flex-direction: column;
      }

      .play-section{
            flex-direction: column;
            flex-direction: column-reverse;
            background-repeat:no-repeat;
      }

      .play-content{
            padding: 20px;
      }
      .banner-img{
            width: 100%;
      }

      .sign-in{
            padding: 10px 20px;
            gap: 10px;
      }

      .play-shortname{
            font-size: 80px;
            font-weight: 700;
            margin: 10px;  
      }

      .play-offer{
            font-size: 38px;
            font-weight: 500;
            margin-bottom: 0;
            padding-bottom: 0;            
      }

      .gamer-section{
            flex-direction: column;
            padding: 20px;
      }
      .gamer-title{
            font-size: 2.5rem;
            text-align: center;
      }
      .gamer-description, .gamer-purpose{
            text-align:center;
      }
      .know-more{
            margin-left: 20%;
      }

      .gamer-queiet{
            font-size: 1.3rem;
            font-weight: 400;
            text-align: center;
      }
      
}