body{
      font-family: "Work Sans", sans-serif;
}

/*Header related style*/

.nav-container{
      display: flex;
      justify-content: space-between;
      padding: 0 240px;
}
.nav-img-content{
      display: flex;
      align-items: center;
}
.nav-img-content img{
width: 86px;
height: 40px;
padding-right: 10px;
}

.nav-title{
      font-family: Work Sans;
      font-size: 2.8rem;
      font-weight: 700;
      letter-spacing: 0%;
      text-align: center;
      color: #0B0223;
}

.nav-title-g{
      color: #FF42A5;
}
.nav-items-content{
      display: flex;
      align-items: center;
      gap: 30px;
}
.nav-items-content p{
      font-size: 1.3rem;
      font-weight: 500;
      color: #3C354F;
      text-align: center;
}

.nav-btn{
      font-size: 1.3rem;
      font-weight: 500;
      color: #3C354F;
      text-align: center;
      border: 0px;
      border-radius: 8px;
      background: rgba(11, 2, 35, 0.1);
      padding: 10px 20px;
}

.u-icon{
      width: 25px;
      height: 20px;
}

/* play section related style */
.play-section{
      display: flex;
      background-image: url("/images/Group\ 14.png");
      background-repeat: repeat-y;
}

.play-content{
      padding-left: 240px;
      padding-right: 250px;
}

.play-offer{
      font-size: 48px;
      font-weight: 600;
      text-align: center;
      color: #0B0223;
      margin-bottom: 0;
      padding-bottom: 0;
      
}

.play-shortname{
      font-size: 95px;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
      color: #F948B2; 
      margin: 15px;     

}

.play-description{
      display: flex;
      align-items: center;
      gap: 10px;
}

.play-icon{
      width: 18px;
      height: 18px;
}

.sign-in{
      background-color: #FF42A5;
      border: 0;
      border-radius: 48px;
      font-size: 20px;
      font-weight: 600;
      color: #FFFFFF;
      text-align: center;
      text-transform: uppercase;
      padding: 21px 40px;
}

.go-rogue{
      background-color: #4EC5F7;
}

.play-banner img{
     max-height: 550px;
}