body{
      font-family: "Work Sans", sans-serif;
}

/*Header related style*/

.nav-container{
      display: flex;
      justify-content: space-between;
      padding: 0 240px;
}
.nav-img-content{
      display: flex;
      align-items: center;
}
.nav-img-content img{
width: 86px;
height: 40px;
padding-right: 10px;
}

.nav-title{
      font-family: Work Sans;
      font-size: 2.8rem;
      font-weight: 700;
      letter-spacing: 0%;
      text-align: center;
      color: #0B0223;
}

.nav-title-g{
      color: #FF42A5;
}
.nav-items-content{
      display: flex;
      align-items: center;
      gap: 30px;
}
.nav-items-content p{
      font-size: 1.3rem;
      font-weight: 500;
      color: #3C354F;
      text-align: center;
}

.nav-btn{
      font-size: 1.3rem;
      font-weight: 500;
      color: #3C354F;
      text-align: center;
      border: 0px;
      border-radius: 8px;
      background: rgba(11, 2, 35, 0.1);
      padding: 10px 20px;
}

.u-icon{
      width: 25px;
      height: 20px;
}


/*main section related style*/

/* play section related style */
.play-section{
      display: flex;
      background-image: url("/images/Group\ 14.png");
      background-repeat: repeat-y;
}

.play-content{
      padding-left: 240px;
      padding-right: 250px;
}

.play-offer{
      font-size: 48px;
      font-weight: 600;
      text-align: center;
      color: #0B0223;
      margin-bottom: 0;
      padding-bottom: 0;
      
}

.play-shortname{
      font-size: 6rem;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
      color: #F948B2; 
      margin: 15px;     

}

.play-description{
      display: flex;
      align-items: center;
      gap: 10px;
}

.play-icon{
      width: 18px;
      height: 18px;
}

.play-name{
      margin: 05px;
}

.sign-in{
      background-color: #FF42A5;
      border: 0;
      border-radius: 48px;
      font-size: 1.25rem;
      font-weight: 600;
      color: #FFFFFF;
      text-align: center;
      text-transform: uppercase;
      padding: 21px 40px;
}

.go-rogue{
      background-color: #4EC5F7;
      margin-top: 20px;
}

.play-banner img{
     max-height: 550px;
}

/* gamer section related style  */

.gamer-section{
      display: flex;
      background-color: #FFF9FC;
      padding: 0 240px;
}
.gamer-banner-img{
      width: 100%;
}


.gamer-title{
      font-size: 3rem;
      font-weight: 700;
      text-align: right;
      color: #F948B2;
      margin: 100px 10px 10px 10px;
}

.gamer-description{
      font-size: 1rem;
      font-weight: 400;
      text-align: right;
      color: #534C64;
      max-width: 500px;
      margin: 20px 0px;
}
.know-more{
      position: relative;
      align-items: center;
      margin-left: 50%;
}
.gamer-purpose{
      font-size: 1.5rem;
      font-weight: 500;
      text-align: right;
      color: #534C64;
}

.gamer-queiet{
      font-size: 1.6rem;
      font-weight: 700;
      text-align: right;
      color: #534C64;
      margin: 20px 0px;
}

/* online related style  */
.online-section{
      margin: 0 240px;
}
.online-title{
      font-size: 3rem;
      font-weight: 700;
      text-align: center;
      color: #0B0223;
      margin-bottom: 20px;
}
.funny-video{
      color: #BF50D2;

}

.online-description{
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
      color: #534C64;
}

.online-curd-container{
      display: flex;
      gap: 20px;
}

.curd img:hover{
      border: 5px solid #FF42A5;
      border-radius: 20px;
}
.curd img{
      height: 350px;
}
.curd-description{
      font-size: 1.2rem;
      font-weight: 500;
      text-align: left;
      color: #534C64;
}


/* download related style  */

.download-section{
      display: flex;
      margin: 50px 200px 50px 240px ;
      align-content: space-between;
      
}

.download-container{
      width: 50%;
}

.download-title{
      font-size: 3rem;
      font-weight: 700;
      text-align: right;
      color: #0B0223;
      margin: 5px;
      padding-right: 50px;
}

.download-title-color{
      color: #FF42A5;
      padding-top: 170px;
}

.download-description{
      font-size: 1.20rem;
      font-weight: 400;
      max-width: 350px;
      color: #534C64;
      text-align: right;
}

.download-img-container{
      box-sizing: border-box;
      margin-left: 50px;
}
.img-1{
      margin-left: 100px;
      width: 80%;
      justify-content: right;
}
.img-2{
      width: 320px;
      height: 365px;
      border: 0.25px solid #b0afb34d;
      border-radius: 8px;
      position: relative;
      bottom:300px;
}


/* anytime section style  */
.anytime-section{
      display: flex;
      margin: 20px 240px;
      gap: 50px;
}

.img-4{
      position: relative;
      bottom: 200px;
      left: 500px;
      border: 0.25px solid #b0afb34d;
      border-radius: 8px;
}

.anytime-container{
      margin-top: 100px;
      margin-left: 20px;
}
.anytime-title{
      font-size: 2.8rem;
      font-weight: 700;
      text-align: left;
      color: #FF42A5;
      margin: 0;
}
.anytime-title2{
      font-size: 2.8rem;
      font-weight: 700;
      text-align: left;
      color: #0B0223;
      margin: 0;
}

/* careers related style  */

.careers-section{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
      background-color: #FF42A5;
      padding: 50px 240px;
}

.careers-img img{
      margin-top: 100px;
      width: 100%;
}

.careers-title{
      font-size: 2.8rem;
      font-weight: 700;
      text-align: left;
      color: #FFFFFF;
      margin-top: 100px;
      margin-bottom: 5px;
}
.careers-description{
      font-size: 1.2rem;
      font-weight: 400;
      text-align: left;
      color: #FFFFFF;
}
.careers-skill{
      display: flex;
      justify-content: space-between;
}

.skill-name-1{
      font-size: 1.25rem;
      font-weight: 600;
      text-align: left;
      color: #FFFFFF;
}
.skill-name-2{
      font-size: 1.25rem;
      font-weight: 600;
      text-align: right;
      color: #FFFFFF;
}

.btn-position{
      background-color: #FFFFFF;
      border: 0;
      border-radius: 48px;
      font-size: 1.25rem;
      font-weight: 600;
      color: #FF42A5;
      text-align: center;
      text-transform: uppercase;
      padding: 21px 40px;
}

/* game store related style  */

.game-store-container-1{
      display: flex;
      gap: 05px;
      flex-wrap: wrap;
      margin: 100px 200px;
      justify-content: space-around;
}
.game-name{
      display: flex;
      gap: 10px;
      padding-bottom: 30px;
}

.game-name:hover{
      border: 3px solid #FF42A5;;
      border-radius: 20px;
      color: #FF42A5;;
      margin-bottom: 0;
      padding-bottom: 0px;
      animation: none;
}

.game-title{
      font-size: 1.2rem;
      font-weight: 600;
      text-align: left;
      color: #0B0223;
}





/* responsive related style */
@media screen and (max-width: 576px) {
      .nav-container{
            flex-direction: column;
            padding: 20px;
      }

      .nav-img-content{
            align-items: center;
            justify-content: center;
      }
      .nav-items-content{
            flex-direction: column;
      }

      .play-section{
            flex-direction: column;
            flex-direction: column-reverse;
            background-repeat:no-repeat;
      }

      .play-content{
            padding: 20px;
      }
      .banner-img{
            width: 100%;
      }

      .sign-in{
            padding: 10px 20px;
            gap: 10px;
      }

      .play-shortname{
            font-size: 80px;
            font-weight: 700;
            margin: 10px;  
      }

      .play-offer{
            font-size: 38px;
            font-weight: 500;
            margin-bottom: 0;
            padding-bottom: 0;            
      }

      .gamer-section{
            flex-direction: column;
            padding: 20px;
      }
      .gamer-title{
            font-size: 2.5rem;
            text-align: center;
      }
      .gamer-description, .gamer-purpose{
            text-align:center;
      }
      .know-more{
            margin-left: 20%;
      }

      .gamer-queiet{
            font-size: 1.3rem;
            font-weight: 400;
            text-align: center;
      }

      .online-section{
            margin: 20px;
      }
      .online-curd-container{
            flex-direction: column;
      }
      
      .download-section{
            flex-direction: column;
            margin: 10px;
      }

      .download-container{
            width: 100%;
      }
      
      
      .download-title{
            font-size: 2.8rem;
            font-weight: 600;
            text-align: center;
            color: #0B0223;
            margin: 5px;
            padding-right: 0px;
      }

      .download-title-color{
            color: #FF42A5;
            padding-top: 10px;
      }
      .download-img-container{
            width: 100%;
      }
     .img-1{
            width: 70%;
      }
      .img-2{
            display: none;
            align-items: center;
      }

      .careers-section{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 20px;
            margin: 20px;
            font-size: 1rem;
      }

      .skill-name-2, .skill-name-1{
            font-size: 1rem;
            font-weight:500;
      }

      .careers-img img{
            margin-top: 20px;
            width: 100%;
      }
     .game-store-container-1{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2px;
            margin: 50px;
            justify-content: space-around;
      }
      .game-name img{
            width: 30px;
            height: 30px;
      }

      .game-name{
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;
            
      }
      .game-title{
            font-size: 1rem;
            font-weight: 400;
            padding-bottom: 0px;
            margin: 0;
      }
}